*.class
/build/
/dist/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Output/generated/temp files used for development
/M1*
/M2*
/M3*
/M4*
/M5*
/M6*
/M7*
/M8*
/M9*
/nbproject/private/